body {
	background-image: url('http://www.psdgraphics.com/file/colorful-triangles-background.jpg');
	background-repeat: no-repeat;
	background-position: right top;	
}
h1 {
	font-size: 3em;
	text-align: center;
}

ul >li {
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  color: #000080;
  display: inline-block;
  margin-right: 2em;
}
.thumbnail {
    width: 140px;
    height: 140px;
    display: block;
}
