body {
	background-image: url('../images/bracket.jpg');
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: 100%;
}


.main-container {
		margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 53%;
    height: 400px;
    background-image: url('../images/basket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding-top: 0.01em;
    padding-bottom: 2em;
}
.title {
	background-color: white;
	text-align: center;
	color: black;
	margin-top: -0.3em;
	height: 63px;

}
.question {
	text-align: left;
	width: 40%;
	color: blue;
	margin-left: 1em;
	font-size: 25px;
}
.option {
	margin-left: 2em;
}
.answer {
	color: yellow;
	margin-left: 0.2em;
}
#submit {
	background-color: #d26014;
  border: 2px solid;
  color: rgba(0,3,50,1);
  font-weight: bold;
  margin-left: 100px;
	margin-top: 1em;
	padding: 1em;

}
@media only screen and (max-width: 620px) {
	.main-container {
		width: 75%;
	}

}
@media only screen and (max-width: 420px) {
	.main-container {
		width: 100%;
	}

@media only screen and (min-width: 920px) {
	.question, .answer {
		width: 175;
	}	
}


}