/*background and outside*/
body{
	background-image: url('../images/supermarche.png');
	background-repeat: no-repeat;
	background-size: 100%;
}


/* Main App */
.container {
	width: 50em;
	margin: auto;
	background-color: #000322;
	border: 5px solid #979797;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	border-radius: 2px;
}

.app-main {
	margin-top: 2em;
	text-align: center;
}
h1 {
	color: white;
	font-weight: bold;
}
ul {
	list-style: none;
	text-align: left;
	margin-top: 2em;
}
#list .items {
  font-size: 2em;
  font-weight: bold;
  color: #899832;
  margin-left: 6.5em;
  outline: 	#899832 1px solid;
  width: 10em;
  padding-top: 20px;
}
.strike {
	text-decoration: line-through;
}
.check {
	height: 17px;
	width: 17px;
	background-color: white;
}
.Checked {
	background-color: #899832;
}
.item {
	position: relative;
	left: 30px;
	bottom: 20px;
}
.delete {
	float: right;
	margin-top: -.5em;
}
