/*background and outside*/
html, body {
	height: 100%;
}
body{
	background: #000 url('../images/supermarche.png') no-repeat fixed;
	background-size: 100% 100%;
}


/* Main App */
.container {
	width: 50em;
	margin: auto;
	background-color: rgba(0,3,50,0.80);
	border: 5px solid rgba(137,152,50,0.50);
}

.app-main {
	margin-top: 2em;
	text-align: center;
}
h1 {
	color: white;
	font-weight: bold;
}
#input, #submit {
	height: 50px;
	border-radius: 10px;
	padding: 1px;
	box-sizing: border-box;
	font-size: 12spx;
}

#input {
	width: 18em;
}
#submit {
	background-color: #d26014;
	border: 2px solid ;
	color: rgba(0,3,50,1);
	font-weight: bold;
	width: 9em;
}
ul {
	list-style: none;
	text-align: left;
	margin-top: 2em;
}
#list .items {
  font-size: 2em;
  font-weight: bold;
  color: #899832;
  margin-left: 6.2em;
  margin-bottom: 0.25em;
  width: 10em;
  padding-top: 20px;
  background-color: rgba(0,3,50,0.8);
  border: 2px solid #899832;
  border-radius: 25px;
}
.strike {
	text-decoration: line-through;
}
.check {
	height: 17px;
	width: 17px;
	background-color: white;
}
.Checked {
	background-color: #899832;
}
.item {
	position: relative;
	left: 30px;
	bottom: 20px;
}
.delete {
	float: right;
	margin-top: -.5em;
}
.delete, .check {
	cursor: pointer;
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
		.container {
			width: 400px;
		}
		#list .items {
			margin-left: 0em;
		}
		body {
			background-size: 200% 100%;
			background-position: center;
		}

}
@media only screen and (min-width: 600px) and (max-width: 800px) {
		.container {
			width: 600px;
		}
		#list .items {
			margin-left: 100px;
		}
		body {
			background-size: 150% 100%;
			background-position: center;
		}

}





